@import  "http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css";
.centeral{
    width: 40rem;
    height: 30rem;
    box-shadow: 0px 0px 5px 5px #03414d;
    margin: 20px auto;
    position: relative;
    border-radius: 7px;

}

.photos{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0px auto;
    border-radius: 7px;
}
.photos img{
    display: block;
    height: inherit;
    width: 100%;
    border: 2px solid #e6f8f6;
    border-radius: 7px;
}
.newphotos{
    transition: all ease-in-out;
    opacity: 0.5;
}
.btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btns i{
    color: #a0f6d2;
    font-size: 35px;
    background-color: #03414d;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}


@media (max-width:664px){
    .centeral{
        height: 70vh;
        width:400px;
    }
}